{% load static %}
<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
  <!-- Brand Logo Light -->
  <a href="index.html" class="logo logo-light">
    <span class="logo-lg"><h3 class="app-logo">{{ app_name }}</h3></span>
    <span class="logo-sm"><h3 class="app-logo">{{ app_name }}</h3></span>
  </a>

  <!-- Brand Logo Dark -->
  <a href="index.html" class="logo logo-dark">
    <span class="logo-lg"><h3 class="app-logo">{{ app_name }}</h3></span>
    <span class="logo-sm"><h3 class="app-logo">{{ app_name }}</h3></span>
  </a>

  <!-- Sidebar Hover Menu Toggle Button -->
  <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
    <i class="ri-checkbox-blank-circle-line align-middle"></i>
  </div>

  <!-- Full Sidebar Menu Close Button -->
  <div class="button-close-fullsidebar">
    <i class="ri-close-fill align-middle"></i>
  </div>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!-- Leftbar User -->
    <div class="leftbar-user">
      <a href="pages-profile.html">
        <img src="{% static 'assets/images/users/male-avtar.png' %}" alt="user-image" height="42" class="rounded-circle shadow-sm" />
        <span class="leftbar-user-name mt-2">{{ user.first_name }}</span>
      </a>
    </div>

    <!-- - Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-title">Navigation</li>

      <li class="side-nav-item">
        <a href="{% url "dashboard" %}" class="side-nav-link">
          <i class="uil-home-alt"></i>
          <span>Dashboards</span>
        </a>
      </li>

      <li class="side-nav-title">Apps</li>

      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarAdmin" aria-expanded="false" aria-controls="sidebarAdmin" class="side-nav-link">
          <i class="ri-shield-user-line"></i>
          <span>Admin</span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarAdmin">
          <ul class="side-nav-second-level">
            <li>
              <a href="{% url "users" %}">Users</a>
            </li>
            <li>
              <a href="#">Roles</a>
            </li>
          </ul>
        </div>
      </li>

      <!-- end Help Box -->
    </ul>

    <div class="clearfix"></div>
  </div>
</div>
<!-- ========== Left Sidebar End ========== -->
